<!-- <p>
  model-driven-form works!
</p> -->
<!-- form>(label+input[type='' formControlName=''])*8 -->
<form [formGroup]="regForm" (ngSubmit)='submit()'>
  <label for="">Full Name</label>
  <input type="" formControlName="fullName">
  <label for="">Date Of Birth</label>
  <input type="date" formControlName="dateOfBirth">
  <label for="">Gender </label>  
  <input type="radio" id="male" formControlName="gender" value="male">
  <label for="male">Male</label>
  <input type="radio" id="female" formControlName="gender" value="female">
  <label for="female">Female</label>
  <label for="">BloodGroup</label>
  <select type="" formControlName="bloodGroup">
    <option *ngFor="let option of groups" [value]=option>{{option}}</option>
  </select>
  <label for="">Weight</label>
  <input type="" formControlName="weight">
  <label for="">City</label>
  <input type="" formControlName="city">
  <fieldset formGroupName="contactNumbers">
    <label for="">Mobile Number</label>
    <input type="" formControlName="mobileNumber">
    <label for="">Landline</label>
    <input type="" formControlName="landline">
  </fieldset>

  <input type="submit" value='submit'>
</form>